<h1>Images</h1>

<table class="table table-striped table-hover">
  <thead>
    <th>ID</th>
    <th>RepoTags</th>
    <th>Size</th>
    <th></th>
    <th></th>
  </thead>
  <% @images.each do |image| %>
  <tr>
    <td> <%= image['Id'] %> </td>
    <td> <%= image['RepoTags'] %> </td>
    <td> <%= image['VirtualSize'] / 1000 / 1000 %> MB </td>
    <td>
      <%= button_to 'Create Container', container_create_path(:id => image['RepoTags'] ),  method: 'post', :class => 'btn btn-primary',  remote: false %>
    </td>
    <td>
      <%= button_to 'Delete', image_delete_path(:id => image['Id'] ), method: 'post', :class => 'btn btn-danger', remote: false, onClick: "return confirmAction()" %>
    </td>
  </tr>
  <% end %>
</table>


<h3>Remote Images</h3>

<table class="table table-striped table-hover">
  <thead>
    <th>Image</th>
    <th>Comments</th>
    <th></th>
  </thead>
  <% @r_images.each do |key, value| %>
  <tr>
    <td> <%= key %> </td>
    <td> <%= value['comments'] %> </td>
    <td>
      <%= button_to 'Download', image_create_path(:id => key ), method: 'post', :class => 'btn btn-primary', remote: false %>
    </td>
  </tr>
  <% end %>
</table>


