<h1>Locale Images</h1>

<table class="table table-striped table-hover">
  <thead>
    <th>RepoTags</th>
    <th>Size</th>
    <th></th>
    <th></th>
  </thead>
  <% @images.each do |image| %>
  <tr>
    <td> <span title="<%= image['Id'] %>" > <%= image['RepoTags'] %> </span> </td>
    <td> <%= image['VirtualSize'] / 1000 / 1000 %> MB </td>
    <td>
      <%= button_to 'Create Container', container_create_path(:id => image['RepoTags'] ),  method: 'post', :class => 'btn btn-primary',  remote: false %>
    </td>
    <td>
      <%= button_to 'Delete', image_delete_path(:id => image['Id'] ), method: 'post', :class => 'btn btn-danger', remote: false, onClick: "return confirmAction()" %>
    </td>
  </tr>
  <% end %>
</table>
